.footer {
  width: 100%;
  background: #00252e;
}
.footer__footer1 {
}
.footer__footer1__container {
  margin-top: 14.4rem;
  margin-bottom: 6.4rem;
}
.footer1__site-foo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer1__link p {
}
.footer1__image__pp {
  margin-left: 1.6rem;
  margin-bottom: 1.7rem;
}
.footer1__image__pp a {
  width: 100%;
  max-width: 339px;
  color: $white-color;
}
.n2__ul {
  margin-top: -3.5rem;
}
.n2__li a {
  margin-bottom: 1.2rem;
  color: $white-color;
}
.n1 li {
  display: flex;
}
.footer1__image__ul {
  margin-top: 3.2em;
  margin-bottom: 1.7rem;
}
.n4 ul {
  display: flex;
  align-items: center;
}
.n4__ul {
  padding-top: 8rem;
  gap: 1.2rem;
  margin-bottom: 15rem;
}
.n4__pp {
  color: $white-color;
}
.hover:hover {
  text-decoration-line: underline;
}
