.header {
  background-image: url("../images/hero-bg.svg");
  background-size: cover;
  background-position: center;
  //   margin-top: -1.9rem;
}
.header__navigation__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 6.8rem;
}

.header__hero {
  padding-top: 7.1rem;
  padding-bottom: 7.2rem;
}
.header__hero__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__btn {
  transition: 0.3s;
}
.header__btn:hover {
  color: $silver-color;
}
.container {
}
.header__hero__content {
  width: 100%;
  max-width: 536px;
}
.header__hero__title {
  margin-bottom: 3.2rem;
}
.header__hero__description {
  color: $dark-green-color;
  margin-bottom: 3.2rem;
}
.hero__btn {
  transition: 0.3s;
}
.hero__btn:hover {
  background: linear-gradient(
    90deg,
    #6088c4,
    #6088c4,
    #fa0000b9,
    #ffffff,
    #ffffff,
    #fa0000b9,
    #2fb60d,
    #2fb60d
  );
  color: black;
}
.header__hero__image {
  width: 100%;
}
// media
@media screen and (max-width: 1000px) {
  .header__hero__container {
    flex-direction: column;
  }
  .header__hero__image {
    height: 400px;
    width: 100%;
    object-fit: contain;
  }
  .header__hero__title {
    text-align: center;
  }
  .header__hero__description {
    text-align: center;
  }
  .hero__btn {
    margin-bottom: 5.6rem;
    margin-left: 7rem;
    margin-right: 4rem;
  }
  .footer1__site-foo {
    flex-direction: column;
  }
  .n4__pp {
    text-align: center;
    font-size: 13px;
  }
  .n4 ul {
    margin-bottom: 0rem;
    margin-left: 8rem;
  }
  .n2__ul {
    padding-top: 5rem;
  }
}
@media screen and (max-width: 375px) {
  body {
    margin-top: -3.5rem;
  }
  .site-logo__image {
    width: 100%;
    max-width: 105px;
  }
  .header__btn {
    width: 100%;
    max-width: 96px;
    padding: 4px 10px 10px 9px;
    font-size: 15px;
  }
  .header__hero__title {
    width: 100%;
    max-width: 280px;
    font-size: 2.4rem;
  }
  .header__hero__description {
    width: 100%;
    max-width: 304px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
  }
  .hero__btn {
    width: 100%;
    padding-bottom: 4.3rem;
    max-width: 260px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -5.6rem;
    font-size: 1.5rem;
  }
  .footer1__site-foo {
    flex-direction: column;
  }
  .n4__pp {
    text-align: center;
    font-size: 13px;
  }
  .n4 ul {
    margin-bottom: 0rem;
    margin-left: 8rem;
  }
  .n2__ul {
    padding-top: 5rem;
  }
}
