$body-ff: "Open Sans", sans-serif;
$heading-ff: "Poppins", sans-serif;

$dark-green-color: #00252e;
$silver-color: #808e9a;
$pink-color: #ff52c1;
$sky-color: #edfbff;
$white-color: #ffffff;
$pinkikki-color: #ff9adb;
// #ff9adb
